@charset "UTF-8";

h1{
	margin: 20px;
}

table{
	width: 100%;
	border-collapse: collapse;
}
th, td{
	border-top : 1px solid gray;
	border-bottom : 1px solid gray;
}
th{
	padding: 20px;
}
.count{
	float: right;
	margin: 15px;
}
a:link, a:visited{
	text-decoration: none;
	color: white;
}
.content{
    width: 1000px;
    margin: 0 auto;
    margin-left: 500px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    border: 1px solid red; /* 작업하실 때 해당 부분은 지우고 하셔도 됩니다. */
}
.sec_img{
	width: 30px;
	height: 30px;
	margin-top: 5px;
}